
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PdfInvoice</title>
</head>
<body>
    <div> @*todo : another file*@
        <div class="invoice-container"><div class="invoice-detail-accent" style="background-color: rgb(2, 119, 189);"></div><div class="invoice-detail-body"><div class="invoice-detail-title content-block"><div class="d-flex justify-content-between"><div class="invoice-title"><h2><span>Invoice</span></h2></div><div class="invoice-logo"><div class="photo-drop"><div class="photo-drop-preview"><img alt=""></div></div></div></div></div><div class="invoice-detail-header content-block"><div class="row"><div class="col-md invoice-address invoice-address-company"><h3>From</h3><h4></h4><div class="preview-block"></div><div class="preview-block"><div></div><div></div><div></div></div></div><div class="col-md invoice-address invoice-address-client"><h3>To</h3><h4></h4><div class="preview-block"></div><div class="preview-block"><div></div><div></div><div></div></div></div></div></div><div class="invoice-items-list"><div class="invoice-items-preview-container content-block header" style="background-color: rgb(2, 119, 189);"><div>Description</div><div>Amount</div></div><div class="invoice-items-preview-container content-block"><div class="details"><div class="code"></div><div></div><div><span>1</span> <span class="multiplication-sign">✕</span> <span class="currency"><span class="currency-symbol">₴</span><span class="currency-amount">0.00</span></span></div></div><div class="amount"><span class="currency amount"><span class="currency-symbol">₴</span><span class="currency-amount">0.00</span></span></div></div></div><hr class="divider lite margin"><div class="invoice-totals-container content-block"><div class="invoice-totals-row  undefined"><div class="invoice-summary-label">Subtotal</div><div class="invoice-summary-value"><span class="currency"><span class="currency-symbol">₴</span><span class="currency-amount">0.00</span></span></div></div><div class="invoice-totals-row  undefined"><div class="invoice-summary-label">Tax (0%)</div><div class="invoice-summary-value"><span class="currency"><span class="currency-symbol">₴</span><span class="currency-amount">0.00</span></span></div></div><div class="invoice-totals-row  undefined"><div class="invoice-summary-label">Total</div><div class="invoice-summary-value"><span class="currency"><span class="currency-symbol">₴</span><span class="currency-amount">0.00</span></span></div></div><div class="invoice-totals-row bold invoice-summary-balance invoice-balance"><div class="invoice-summary-label">Balance Due</div><div class="invoice-summary-value"><span class="currency"><span class="currency-symbol">₴</span><span class="currency-amount">0.00</span></span></div></div></div><hr class="divider lite margin"><div class="invoice-detail-terms content-block"><div class="row"><div class="col-md-6 invoice-address invoice-address-terms"><div class="terms-item-view"><span>Number</span><span>INV0001</span></div><div class="terms-item-view"><span>Date</span>10 Jan 2019</div><div class="terms-item-view"><span>Terms</span><span>2 Days</span></div><div class="terms-item-view"><span>Due</span><span>12 Jan 2019</span></div></div></div></div></div></div>
    </div>
</body>
</html>
